<div class="contenedor">

    <div class="texto">
        <h1>Constructora VivirMejor</h1>
        <p>La constructora VIVIRMEJOR requiere una aplicación para el registro de los abonos realizados por concepto de
            cuota inicial
            de las viviendas comprometidas con sus clientes. Este valor es equivalente al 20% del valor total de la
            vivienda, que dependerá
            del proyecto seleccionado, los Proyectos y sus Precios son: </p>

        <br>
        <div class="Proyectos">
            <p>Brisas del Mar(M): 40000</p>
            <p>Balcones de la Sierra(S): 50000</p>
            <p>Jardines del Rey(R): 70000</p>
        </div>

    </div>

    <div class="imagen">
        <img src="../../assets/image-engineering-objects-workplace-top-view-construction-concept-engineering-tools-vintage-tone-retro-filter-effect-soft-focus-selective-focus.jpg" alt="imagen no encontrada">
    </div>

</div>