.contenedor{
    width: 90%;
    height: 500px;
    margin-top: 20px;
    margin-left: 5%;
    text-align: center;
}

.formulario{
    width: 50%;
    height: 450px;
    margin-left: 25%;
    margin-top: 25px;
}

input[type=number], input[type=text]{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
