<div class="contenedor">

    <div class="formulario">

        <form>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="identificacionCliente"
                 placeholder="Identificación del Cliente">
                <label for="floatingInput">Identificación del Cliente</label>
            </div>

            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="floatingInput" name="abonocuotainicial"
                 placeholder="Abono a la cuota Inicial">
                <label for="floatingInput">Abono a la cuota Inicial</label>
            </div>
            
            <button type="button" class="btn btn-danger"  >Abonar</button>
        </form>

    </div>

</div>
